<style>
	body{ padding-top: 0px; margin: 0px;}
	#container{
		width: 100%;
	}
	
	
	.siteWidth{ width: 1190px;}
	
	#psocheader {
	    background-color:#7a7a7a  ;
	    color:white;
	    text-align:center;
	    padding:5px;
	}
	#nav {
	    line-height:30px;
	    background-color:#ffffff;    
		width:150px;
	    float:left;
	    padding:5px; 
	}
	#section {
	    float:left;
	    padding:10px;
	    width: 440px;
	    margin-left: 10px; 
	}
	#footer {
	    background-color:#7a7a7a  ;
	    color:white;
	    clear:both;
	    text-align:center;
	    padding:5px; 
	}
	#subheader {
	    background-color:#6d6d6d;
	    color:white;
	    clear:both;
	    text-align:center;
	    padding:5px; 
	}
	#filterheader {
	    background-color:#6d6d6d;
	    color:white;
	    clear:both;
	    text-align:left;
	    padding:5px; 
	}
	
	.chart div {
	  font: 10px sans-serif;
	  text-align: right;
	  padding: 3px;
	  margin: 1px;
	  color: white;
	}
	.clr{ clear: both}
	
	@media (max-width: 1191px) {
		
	    .siteWidth{ width: auto;}     
		#nav{ width: 15%;}
		#section {	    
		    width: 80%;
		    
		}
	
	}
	
	@media (max-width: 1000px) {
	
	    .siteWidth{ width: auto;}     
		#nav{ width: 15%;}
		#section {	    
		    width: 80%;
		    
		}
	
	}
	@media (max-width: 800px) {
	
	    .siteWidth{ width: auto;}     
		#nav{ width: 15%;}
		#section {	    
		    width: 75%;
		    
		}
	
	}
	
	table.myTable { border-collapse:collapse; }
	table.myTable td, table.myTable th { border:1px solid #d3d3d3;padding:5px; }
	
	.gauge{position:relative; width:200px; height:9px; background:#d0cfcf;}
	.orange{position:absolute; top:0; left:0; height:100%; background:orange; margin:0; padding:0; z-index:0;}
	.red{position:absolute; top:0; left:0; height:100%; background:red; margin:0; padding:0; z-index:0;}
	.green{position:absolute; top:0; left:0; height:100%; background:green; margin:0; padding:0; z-index:0;}
	.blue{position:absolute; top:0; left:0; height:100%; background:blue; margin:0; padding:0; z-index:0;}
	.color{position:absolute; top:0; left:0; height:100%; background:#3d838a; margin:0; padding:0; z-index:0;}
	.text{position:absolute; top:0; left:0; width:100%; height:100%; text-align:justify; margin:0; padding:0; z-index:1;}
	
	
	.tabs {
			width:100%;
			display:inline-block;
		}	
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#123456;
            font-size:16px;
            font-weight:600;
            color:white;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    .loadingDiv {
	    padding: .5em 2em 2em 2em;
		border:1px solid #aaa;
		border-top:0;
     }
        
        
	</style> 